<template>
	<v-app>
		<SideBar :drawer="drawer" />
		<TopNav @clicked="drawer = !drawer" />
		<v-main>
			<router-view />
		</v-main>
	</v-app>
</template>
<script>
	import SideBar from "./SideBar.vue"
	import TopNav from "./TopNav.vue"

	export default {
		components: {
			SideBar,
			TopNav,
		},
		data() {
			return {
				drawer: !this.$isMobile() ? true : false,
			}
		},
	}
</script>
