<template>
	<v-navigation-drawer v-model="localValue" :clipped="$vuetify.breakpoint.lgAndUp" app>
		<v-list class="list-menu">
			<template v-for="(menu, idx) in menus">
				<v-list-group
					v-if="menu.menu_child.length > 0"
					:value="currentActiveParentId == menu.menu_id ? true : false"
					color="secondary"
					:key="idx"
					active-class="parent-menu"
					class="menu-double"
				>
					<template #prependIcon>
						<c-icon :icon="menu.menu_icon"></c-icon>
					</template>
					<template v-slot:activator>
						<v-list-item-title class="menu-title">{{ menu.menu_name }}</v-list-item-title>
					</template>

					<v-list-item
						v-for="(submenu, i) in menu.menu_child"
						:key="i"
						link
						:class="currentActiveId == submenu.menu_id ? 'sub-menu sub-menu-active' : 'sub-menu'"
						@click="goTo(submenu)"
					>
						<v-list-item-title class="menu-title-sub">{{ submenu.menu_name }}</v-list-item-title>
						<v-list-item-icon>
							<c-icon
								:icon="submenu.menu_icon"
								:class="currentActiveId == submenu.menu_id ? 'invert' : ''"
								:color="currentActiveId == submenu.menu_id ? 'white' : 'secondary'"
							></c-icon>
						</v-list-item-icon>
					</v-list-item>
				</v-list-group>

				<v-list-item v-else :class="currentActiveId == menu.menu_id ? 'menu-single menu-active' : 'menu-single'" :key="idx" @click="goTo(menu)">
					<v-list-item-icon>
						<c-icon :icon="menu.menu_icon" :customClass="currentActiveId == menu.menu_id ? 'invert' : ''"></c-icon>
					</v-list-item-icon>
					<v-list-item-title class="menu-title">{{ menu.menu_name }}</v-list-item-title>
				</v-list-item>
			</template>
		</v-list>
	</v-navigation-drawer>
</template>
<script>
	import { CIcon } from "@/components"
	import { mapGetters, mapMutations } from "vuex"
	export default {
		name: "SideBar",
		components: {
			"c-icon": CIcon,
		},
		props: {
			drawer: {
				default: null,
				required: true,
				type: Boolean,
			},
		},
		data() {
			return {
				selectedItem: "",
				localValue: null,
				valueDrop: false,
			}
		},
		computed: {
			...mapGetters({
				menus: "SYSTEM/getDataMenus",
				currentActiveId: "SYSTEM/getCurrentMenuId",
				currentActiveParentId: "SYSTEM/getCurrentMenuParentId",
			}),
		},
		watch: {
			drawer: {
				handler(value) {
					this.localValue = value
				},
				immediate: true,
			},
		},
		methods: {
			...mapMutations({
				setMenuId: "SYSTEM/setCurrentMenuId",
				setMenuParentId: "SYSTEM/setCurrentMenuParentId",
				setAccessPage: "SYSTEM/setAccessPage",
			}),
			goTo(menu) {
				if (this.$route.name !== menu.menu_url) {
					this.setMenuId(menu.menu_id)
					this.setMenuParentId(menu.menu_parent_id)
					this.setAccessPage(menu.menu_access)
					this.$router.push({ name: menu.menu_url })
				}
			},
		},
	}
</script>
<style>
	.menu-title {
		font-size: 13px !important;
		font-weight: 600;
	}
	.invert {
		filter: brightness(0) invert(1);
	}
	.list-menu {
		color: #2b3f6c;
		font-weight: 600;
	}
	.menu-active {
		color: white !important;
		background-color: #2b3f6c;
	}
	.parent-menu {
		background-color: #6ab2eb42;
		border-radius: 50px;
		color: 2b3f6c !important;
	}
	.menu-single,
	.menu-double {
		cursor: pointer;
		border-radius: 50px;
		margin: 5px 10px;
	}
	.sub-menu {
		padding-left: 25px !important;
		background-color: #6ab2eb42;
		border-radius: 50px;
		margin: 5px 0px 5px 30px;
		min-height: 35px !important;
		height: 35px !important;
	}
	.sub-menu-active {
		background-color: #2b3f6c;
		color: white !important;
	}
	.menu-title-sub {
		font-size: 13px !important;
		font-weight: 600;
	}
	.menu-single:not(.menu-active):hover {
		background-color: #f6f6f6;
		border-radius: 50px;
	}
	.v-list-item--link:before {
		background-color: transparent !important;
	}
	.v-application--is-ltr .v-list-item__icon:first-child {
		margin-right: 15px !important;
	}
	.v-list-item__icon {
		margin: auto !important;
	}
</style>
