<template>
	<v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="white">
		<v-app-bar-nav-icon @click.stop="$emit('clicked')" color="secondary"></v-app-bar-nav-icon>
		<v-toolbar-title class="ml-0 pl-4" color="secondary">
			<span class="hidden-sm-and-down">Sistem Informasi Manajemen</span>
			<!-- <span class="hidden-sm-and-down">Sistem Informasi Manajemen Klinik Bahagia</span> -->
		</v-toolbar-title>
		<v-spacer></v-spacer>
		<v-btn color="secondary" @click="logout()"> LOGOUT </v-btn>
		<!-- <v-btn icon color="secondary">
			<v-icon>mdi-apps</v-icon>
		</v-btn>
		<v-btn icon color="secondary">
			<v-icon>mdi-bell</v-icon>
		</v-btn>
		<v-btn icon large color="secondary">
			<v-avatar size="32px" item> <v-img src="https://cdn.vuetifyjs.com/images/logos/logo.svg" alt="Vuetify"></v-img></v-avatar>
		</v-btn> -->
	</v-app-bar>
</template>
<script>
	import { mapActions } from "vuex"
	export default {
		name: "TopNav",
		emits: ["clicked"],
		data() {
			return {}
		},
		methods: {
			...mapActions({
				logout: "SYSTEM/logout",
			}),
			logout() {
				localStorage.removeItem("vuex")
				window.location = "/"
			},
		},
	}
</script>
