<template>
	<v-container> user app </v-container>
</template>
<script>
	import { mapGetters } from "vuex"
	export default {
		data() {
			return {}
		},
		computed: {
			...mapGetters({
				DATAUSER: "SYSTEM/getDataUser",
			}),
		},
		mounted() {
			// console.log(this.DATAUSER)
		},
	}
</script>
