<template>
	<v-container>
		<breadcumb headerName="Daftar Menu" parentMenu="Settings" childMenu="Menu" />
		<c-table
			:columns="columns"
			:items="items"
			key-field="menu_id"
			:total-item="total"
			:page="params.page"
			:page-size="params.itemsPerPage"
			@page-number-change="changePage"
			@page-size-change="changeSizePage"
		></c-table>
		<form-menu :dialog="dialogForm" />
	</v-container>
</template>
<script>
	import { CTable, CActions, CButton } from "@/components"
	import FormMenu from "./FormMenu.vue"
	export default {
		components: {
			"c-table": CTable,
			// eslint-disable-next-line vue/no-unused-components
			"c-actions": CActions,
			// eslint-disable-next-line vue/no-unused-components
			"form-menu": FormMenu,
			// eslint-disable-next-line vue/no-unused-components
			"c-button": CButton,
		},
		name: "SettingsMenu",
		data() {
			return {
				columns: [
					{
						key: "no",
						title: "#",
						field: "no",
						renderBodyCell: ({ rowIndex }) => {
							return ++rowIndex
						},
					},
					{
						key: "action",
						title: "Action",
						field: "action",
						// eslint-disable-next-line no-unused-vars
						renderBodyCell: ({ row, column, rowIndex }, h) => {
							// return h("div", [
							// 	h(CButton, {
							// props: {
							// 	color: "success",
							// 	icon: "mdi-pencil",
							// 	btnSize: "small",
							// },
							// 		onEvent: () => {
							// 			onClick: (e) => {
							// 				console.log("gahjar")
							// 			},
							// 		},
							// 	}),
							// ])
							return h(CButton, {
								props: {
									color: "success",
									icon: "mdi-pencil",
									btnSize: "small",
								},
								onClick: this.openyes(row),
							})
						},
					},
					{ key: "menu_parent_id", title: "Parent ID", field: "menu_parent_id" },
					{ key: "menu_id", title: "Menu ID", field: "menu_id" },
					{ key: "menu_name", title: "Nama Menu", field: "menu_name" },
					{ key: "menu_icon", title: "Icon", field: "menu_icon" },
					{ key: "menu_url", title: "URL", field: "menu_url" },
					{ key: "menu_order", title: "Order", field: "menu_order" },
				],
				total: 0,
				items: [],
				loading: false,
				params: {
					page: 1,
					itemsPerPage: 10,
					sortBy: ["menu_parent_id"],
					sortDesc: ["true"],
					multiSort: false,
					mustSort: false,
					filters: {},
				},
				search: "",
				dialogForm: false,
			}
		},
		watch: {
			params: {
				handler() {
					this.fetchData()
				},
				deep: true,
			},
		},
		mounted() {
			this.fetchData()
		},
		methods: {
			openyes(data) {
				console.log("oke", data)
			},
			fetchData() {
				let self = this
				self.loading = true
				self.$http
					.post("/Settings/Menu/Datatable", self.params)
					.then((result) => {
						self.items = result.data.data.data
						self.total = result.data.data.total
						self.loading = false
						console.log(self.items)
					})
					.catch((err) => {
						console.log(err)
						self.loading = false
					})
			},
			changePage(page) {
				console.log("changePage")
				console.log(page)
				this.params = { ...this.params, page: page }
				console.log("ini", this.params)
				this.fetchData()
			},
			changeSizePage(pageSize) {
				console.log("changeSizePage")
				console.log(pageSize)
			},
		},
	}
</script>
