<template>
	<div class="text-center">
		<v-menu offset-y rounded="b-lg">
			<template v-slot:activator="{ on, attrs }">
				<v-btn color="secondary" v-bind="attrs" v-on="on" small plain>
					<c-icons icon="mdi-chevron-down-circle-outline" size="medium" />
				</v-btn>
			</template>
			<v-list>
				<v-list-item v-for="(item, idx) in items" :key="idx" link>
					<v-list-item-title v-text="item.title"></v-list-item-title>
				</v-list-item>
			</v-list>
		</v-menu>
	</div>
</template>
<script>
	import { CIcons } from "@/components"
	export default {
		name: "CActions",
		components: {
			"c-icons": CIcons,
		},
		data: () => ({
			items: [{ title: "Edit" }, { title: "Delete" }, { title: "Detail" }],
		}),
	}
</script>
