<template>
	<div>
		<div class="header-name">
			{{ headerName }}
		</div>
		<div class="breadcumb-name">
			> {{ parentMenu }} <template v-if="childMenu">/ {{ childMenu }}</template>
		</div>
	</div>
</template>
<script>
	export default {
		name: "CBreadcumb",
		props: {
			headerName: {
				default: "Header Name",
				required: true,
				type: String,
			},
			parentMenu: {
				default: "Parent Name",
				required: true,
				type: String,
			},
			childMenu: {
				default: "",
				required: false,
				type: String,
			},
		},
	}
</script>
<style>
	.header-name {
		font-size: 30px !important;
		color: #2b3f6c;
		font-weight: bolder;
	}
	.breadcumb-name {
		font-size: 13px;
		margin: 0 0 15px 0;
	}
</style>
