<template>
	<v-btn
		depressed
		:block="block"
		:color="color"
		:loading="loading"
		:rounded="rounded"
		:class="addClass"
		:disabled="disabled"
		:type="type"
		@click="$emit('click')"
		:name="name"
		:icon="iconSet"
		:text="textSet"
		v-bind:[btnSize]="btnSize"
		:style="styled"
	>
		<template v-if="label !== ''">
			<c-icons v-if="icon && iconPosition == 'append'" :icon="icon" :size="iconSize" customClass="append-icon" />
			{{ label }}
			<c-icons v-if="icon && iconPosition == 'prepend'" :icon="icon" :size="iconSize" customClass="prepend-icon" />
		</template>
		<template v-else>
			<c-icons :icon="icon" :size="iconSize" />
		</template>
	</v-btn>
</template>
<script>
	import { CIcons } from "@/components"
	export default {
		name: "CButton",
		components: {
			"c-icons": CIcons,
		},
		props: {
			name: {
				default: Math.random().toString(36).substring(2, 10),
				required: false,
				type: String,
			},
			label: {
				default: "",
				required: false,
				type: String,
			},
			color: {
				default: "primary",
				required: false,
				type: String,
				validator(value) {
					return ["primary", "secondary", "accent", "error", "info", "success", "warning"].includes(value)
				},
			},
			block: {
				default: false,
				required: false,
				type: Boolean,
			},
			loading: {
				default: false,
				required: false,
				type: Boolean,
			},
			rounded: {
				default: false,
				required: false,
				type: Boolean,
			},
			icon: {
				default: "",
				required: false,
				type: String,
			},
			iconPosition: {
				default: "append",
				required: false,
				type: String,
				validator(value) {
					return ["append", "prepend"].includes(value)
				},
			},
			addClass: {
				default: "",
				required: false,
				type: String,
			},
			iconSize: {
				default: "small",
				required: false,
				type: String,
			},
			disabled: {
				default: false,
				required: false,
				type: Boolean,
			},
			type: {
				default: "button",
				required: false,
				type: String,
				validator: function (value) {
					return ["button", "submit"].indexOf(value) !== -1
				},
			},
			iconSet: {
				default: false,
				required: false,
				type: Boolean,
			},
			textSet: {
				default: false,
				required: false,
				type: Boolean,
			},
			btnSize: {
				default: "medium",
				required: false,
				type: String,
				validator(value) {
					return ["x-small", "small", "medium", "large", "x-large"].includes(value)
				},
			},
			styled: {
				default: () => {},
				required: false,
				type: Object,
			},
		},
		data() {
			return {}
		},
	}
</script>
<style>
	.v-btn {
		padding: 5px !important;
		min-width: 0 !important;
		height: unset !important;
	}
	.prepend-icon {
		margin-left: 7px;
	}
	.append-icon {
		margin-right: 7px;
	}
</style>
