<template>
	<v-icon :name="name" v-bind:[size]="size" :color="color" :class="customClass">{{ icon }}</v-icon>
</template>
<script>
	export default {
		name: "CIcons",
		props: {
			name: {
				default: "",
				required: false,
				type: String,
			},
			icon: {
				default: "",
				required: true,
				type: String,
			},
			size: {
				default: "small",
				required: false,
				type: String,
				validator(value) {
					return ["x-small", "small", "medium", "large", "x-large"].includes(value)
				},
			},
			color: {
				default: "light",
				required: false,
				type: String,
				validator(value) {
					return ["primary", "secondary", "accent", "error", "info", "success", "warning", "light", "white"].includes(value)
				},
			},
			customClass: {
				default: "",
				required: false,
				type: String,
			},
		},
	}
</script>
