<template>
	<!-- <v-icon :name="name" v-bind:[size]="size" :color="color" :class="customClass">$vuetify.icons.{{ icon }}</v-icon> -->
	<img :src="require(`@/assets/icons/${icon}.png`)" :color="color" :class="customClass" width="20" height="20" />
</template>
<script>
	export default {
		name: "CIcon",
		props: {
			name: {
				default: "",
				required: false,
				type: String,
			},
			icon: {
				default: "",
				required: true,
				type: String,
				// validator(value) {
				// 	const illustrations = require.context('@/assets/icons/', true, /^.*\.png$/);
				// 	const iconName = (illustrations.keys()).map((element) => element.replace('./', '').replace('.png',''));
				// 	return iconName.includes(value)
				// },
			},
			size: {
				default: "medium",
				required: false,
				type: String,
				validator(value) {
					return ["x-small", "small", "medium", "large", "x-large"].includes(value)
				},
			},
			color: {
				default: "light",
				required: false,
				type: String,
				validator(value) {
					return ["primary", "secondary", "accent", "error", "info", "success", "warning", "light", "white"].includes(value)
				},
			},
			customClass: {
				default: "",
				required: false,
				type: String,
			},
		},
	}
</script>
