<template>
	<validation-provider :ref="`input_${toSnakeCase(label)}`" v-slot="{ errors }" :immediate="immediate" :name="label" :rules="rules" tag="div">
		<div :class="!errors[0] ? `label-form` : `label-error`">
			{{ label }}
		</div>
		<v-text-field
			v-model="value"
			:label="label"
			:type="type"
			:readonly="readonly"
			:disabled="disabled"
			:placeholder="placeholder"
			:append-icon="appendIcon"
			:error-messages="errors[0]"
			@input="$emit('input', value)"
			@click:append="$emit('click-append', $event)"
			outlined
			single-line
			class="field-input"
		>
		</v-text-field>
	</validation-provider>
</template>
<script>
	import { ValidationProvider } from "vee-validate"

	export default {
		name: "CInput",
		components: {
			"validation-provider": ValidationProvider,
		},
		emits: ["input"],
		props: {
			label: {
				default: "",
				required: true,
				type: String,
			},
			immediate: {
				default: false,
				required: false,
				type: Boolean,
			},
			rules: {
				default: "",
				required: false,
				type: String,
			},
			type: {
				default: "text",
				required: false,
				type: String,
			},
			readonly: {
				default: false,
				required: false,
				type: Boolean,
			},
			disabled: {
				default: false,
				required: false,
				type: Boolean,
			},
			placeholder: {
				default: "",
				required: false,
				type: String,
			},
			appendIcon: {
				default: "",
				required: false,
				type: String,
			},
		},
		data() {
			return {
				value: null,
			}
		},
		methods: {
			toSnakeCase(string) {
				return string
					.replace(/([a-z])([A-Z])/g, "$1-$2") // get all lowercase letters that are near to uppercase ones
					.replace(/[\s-]|[\s/]+/g, "_") // replace all spaces and dash
					.toLowerCase() // convert to lower case
			},
		},
	}
</script>
<style>
	.label-form {
		padding-bottom: 5px;
		font-weight: 500;
	}
	.label-error {
		padding-bottom: 5px;
		font-weight: 500;
		color: #f7444e;
	}
	.v-input__slot {
		margin-bottom: 0 !important;
	}
	.v-text-field fieldset,
	.v-text-field .v-input__control,
	.v-text-field .v-input__slot {
		border-radius: 10px !important;
	}
	.v-messages__message {
		margin-top: 5px;
		margin-left: -12px;
	}
</style>
