<template>
	<div>
		<ve-table
			:columns="columns"
			:table-data="items"
			:row-key-field-name="keyField"
			:row-style-option="rowStyleOption"
			:border-around="true"
			:cell-style-option="cellStyleOption"
			id="loading-container"
		/>
		<div class="table-pagination">
			<ve-pagination
				:total="totalItem"
				:page-index="page"
				:page-size="pageSize"
				@on-page-number-change="pageNumberChange"
				@on-page-size-change="pageSizeChange"
			/>
		</div>
	</div>
</template>

<script>
	export default {
		name: "CTable",
		props: {
			columns: {
				default: () => [],
				required: true,
				type: Array,
			},
			items: {
				default: () => [],
				required: true,
				type: Array,
			},
			keyField: {
				default: "",
				required: true,
				type: String,
			},
			totalItem: {
				default: 0,
				required: true,
				type: Number,
			},
			page: {
				default: 0,
				required: true,
				type: Number,
			},
			pageSize: {
				default: 10,
				required: true,
				type: Number,
			},
		},
		data() {
			return {
				cellStyleOption: {
					headerCellClass: () => {
						return "table-header-cell-class"
					},
					bodyCellClass: () => {
						return "table-body-cell-class"
					},
				},
				rowStyleOption: {
					clickHighlight: true,
				},
			}
		},
		methods: {
			// page number change
			pageNumberChange(pageIndex) {
				this.$emit("page-number-change", pageIndex)
			},

			// page size change
			pageSizeChange(pageSize) {
				this.$emit("page-size-change", pageSize)
			},
		},
	}
</script>

<style>
	.table-pagination {
		margin-top: 20px;
		text-align: right;
	}
	.ve-table.ve-table-border-around {
		border-radius: 10px;
	}
	.ve-dropdown .ve-select .ve-pagination-select {
		display: none !important;
	}
	.table-header-cell-class {
		background: #2b3f6c !important;
		color: #fff !important;
		font-weight: bolder !important;
		/* #fafafa */
	}
	.table-body-cell-class {
		padding: 0 !important;
		margin: 0 !important;
		font-size: 13px !important;
	}
	.ve-pagination .ve-pagination-li.ve-pagination-li-active {
		border-color: #2b3f6c;
	}
	.ve-pagination .ve-pagination-li.ve-pagination-li-active a {
		color: #2b3f6c;
	}
	.ve-pagination .ve-pagination-li:hover {
		border-color: #2b3f6c;
	}
	.ve-pagination .ve-pagination-li:hover a {
		color: #2b3f6c;
	}
	.v-application a {
		color: #2b3f6c;
	}
</style>
