<template>
	<div>
		<ve-table
			:columns="columns"
			:table-data="tableData"
			:row-style-option="rowStyleOption"
			row-key-field-name="name"
			:max-height="500"
			:virtual-scroll-option="virtualScrollOption"
			:border-around="false"
			:cell-style-option="cellStyleOption"
		/>
		<div class="table-pagination">
			<ve-pagination
				:total="totalCount"
				:page-index="pageIndex"
				:page-size="pageSize"
				@on-page-number-change="pageNumberChange"
				@on-page-size-change="pageSizeChange"
			/>
		</div>
	</div>
</template>

<script>
	// Simulation table data from database
	let DB_DATA = []

	export default {
		data() {
			return {
				cellStyleOption: {
					headerCellClass: () => {
						return "table-header-cell-class"
					},
					bodyCellClass: () => {
						return "cell-select"
					},
				},
				virtualScrollOption: {
					enable: true,
				},
				// page index
				pageIndex: 1,
				// page size
				pageSize: 10,
				columns: [
					/* eslint-disable */
					{
						field: "",
						key: "a",
						title: "#",
						align: "center",
						renderBodyCell: ({ row, column, rowIndex }, h) => {
							return (this.pageIndex - 1) * this.pageSize + rowIndex + 1
						},
					},
					/* eslint-disable */
					{ field: "name", key: "b", title: "Name", align: "center" },
					{ field: "date", key: "c", title: "Date", align: "left" },
					{ field: "hobby", key: "d", title: "Hobby", align: "left" },
					{ field: "address", key: "e", title: "Address", width: "" },
				],
				rowStyleOption: {
					clickHighlight: true,
				},
			}
		},
		computed: {
			// table data
			tableData() {
				const { pageIndex, pageSize } = this
				return DB_DATA.slice((pageIndex - 1) * pageSize, pageIndex * pageSize)
			},
			// total count
			totalCount() {
				return DB_DATA.length
			},
		},
		methods: {
			// page number change
			pageNumberChange(pageIndex) {
				this.pageIndex = pageIndex
			},

			// page size change
			pageSizeChange(pageSize) {
				this.pageIndex = 1
				this.pageSize = pageSize
			},

			// Simulation table data
			initDatabase() {
				DB_DATA = []
				for (let i = 0; i < 50; i++) {
					DB_DATA.push({
						name: "John" + i,
						date: "1900-05-20",
						hobby: "coding and coding repeat" + i,
						address: "No.1 Century Avenue, Shanghai" + i,
					})
				}
			},
		},
		created() {
			this.initDatabase()
		},
	}
</script>


<style>
	.table-pagination {
		margin-top: 20px;
		text-align: right;
	}
    .ve-dropdown .ve-select .ve-pagination-select {
        display: none !important;
    }
	.table-header-cell-class {
		background: #2b3f6c !important;
		color: #fff !important;
		font-weight: 900;
		/* #fafafa */
	}
	.ve-pagination .ve-pagination-li.ve-pagination-li-active {
		border-color: #2b3f6c;
	}
	.ve-pagination .ve-pagination-li.ve-pagination-li-active a {
		color: #2b3f6c;
	}
    .cell-select {
        border: none;
    }
</style>
