<template>
	<v-app>
		<v-img :src="bgImage" class="img-cover">
			<v-container class="hp100">
				<v-row no-gutters class="hp100">
					<v-col align-self="center">
						<v-row no-gutters>
							<v-col sm="8" offset-sm="2" md="6" offset-md="3" lg="4" offset-lg="4">
								<v-card class="pa20">
									<div class="text-center mb15">
										<h2>Sistem Informasi Manajemen</h2>
										<!-- <h2>Klinik Bahagia</h2> -->
									</div>
									<!-- <img :src="logoImage" class="img-center w200" /> -->
									<c-form :form-name="`login`" @submit="signin()">
										<template #content>
											<div class="wp100 pa10 mb10 mt10 box-message" v-if="error">
												<span class="mr-3"><c-icon color="light" icon="triangle_exclamation"></c-icon></span>{{ error }}:
												{{ errorMessage }}
											</div>
											<c-input label="NIP" v-model="form.user_id" rules="required" />
											<c-input
												v-model="form.user_pass"
												label="Password"
												:type="showPwd ? `text` : `password`"
												:append-icon="showPwd ? 'mdi-eye' : 'mdi-eye-off'"
												@click-append="showPwd = !showPwd"
												rules="required"
											/>
											<c-button label="Login" :block="true" :add-class="'button-login'" type="submit" :loading="loading"></c-button>
										</template>
									</c-form>
								</v-card>
							</v-col>
						</v-row>
					</v-col>
				</v-row>
			</v-container>
		</v-img>
	</v-app>
</template>
<script>
	import { mapActions, mapGetters } from "vuex"
	import { CInput, CButton, CForm, CIcon } from "@/components"
	export default {
		components: {
			"c-input": CInput,
			"c-button": CButton,
			"c-form": CForm,
			"c-icon": CIcon,
		},
		data() {
			return {
				bgImage: require("@/assets/images/basic/bg-main.png"),
				logoImage: require("@/assets/images/basic/logo-main.png"),
				showPwd: false,
				form: {
					user_id: "ADM0001",
					user_pass: "adrian123",
				},
				error: "",
				errorMessage: "",
				loading: false,
			}
		},
		computed: {
			...mapGetters({
				defaultMenu: "SYSTEM/getDefaultMenu",
			}),
		},
		methods: {
			...mapActions({
				init: "SYSTEM/initialData",
			}),
			signin() {
				let self = this
				self.loading = true
				self.$http
					.post("/SignIn", self.form)
					.then((result) => {
						let res = result.data
						if (res.status == "SUCCESS") {
							this.init(res.data).then(() => {
								// window.location = "/user"
								this.$router.push({ name: this.defaultMenu })
							})
						} else {
							self.error = res.status
							self.errorMessage = res.message
						}
						self.loading = false
					})
					.catch((err) => {
						self.error = err.status
						self.errorMessage = err.message
						self.loading = false
					})
			},
		},
	}
</script>
<style>
	.button-login {
		height: 56px !important;
		border-radius: 10px !important;
	}
	.box-message {
		border-radius: 10px;
		background-color: #d94f4f;
		color: white;
	}
</style>
