<template>
	<router-view />
</template>

<script>
	export default {
		name: "KlinikApp",
	}
</script>
<style>
	@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
	.v-application {
		font-family: "Poppins", sans-serif !important;
	}
</style>
